In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

# Faktencheck

## Vorstände - Gesamtdaten

Daten zusammengetragen aus den Jahresberichten / Offenlegungsberichten der Sparkassen

In [2]:
df = pd.read_csv('./data/jahresabschluss_kerndaten.csv')
df_origin = df
df['durchschnittsgehalt_2014'] = df.gesamtbezuege_2014 / df.anzahl_vorstaende_2014
df = df[df.durchschnittsgehalt_2014 > 0]

**"Um die Vorstandsgehälter untereinander vergleichbar zu machen, haben wir eine Formel definiert, um die Größe einer Sparkasse darzustellen. Diese beinhaltet Kernwerte einer jeden Sparkasse: Die Bilanzsumme, das Volumen der vergebenen Kredite und das Eigenkapital."**

In [3]:
df['bemessung_2014'] = df.bilanzsumme_2014 + df.eigenkapital_2014*10 + df.vergebene_kredite_2014

/home/simonwoerpel/Websites/Correctiv/Sparkassen/vorstaende/venv/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

**"Weit mehr als jeder zweite Sparkassen-Vorstand verdient mehr als Merkel"**

**"Tatsächlich zahlt rund jede zweite der ausgewerteten Sparkassen ihren Vorständen mehr als die etwa 300.000 Euro, die Merkel als Kanzlerin inklusive ihrer Bezüge als Abgeordnete erhält."**

In [4]:
df.durchschnittsgehalt_2014.median()

302000.0

In [5]:
len(df[df.durchschnittsgehalt_2014 > 282000].index) / len(df.index) * 100

58.88501742160279

**"Wir haben die Gehälter von rund 70 Prozent aller Sparkassen ausgewertet."**

In [6]:
len(df[df.durchschnittsgehalt_2014 > 0].index) / len(df_origin.index) * 100, len(df[df.durchschnittsgehalt_2014 > 0].index)

(68.82494004796163, 287)

**"Von 88.000 Euro bis 850.000 Euro"** (Spanne der durchschnittl. Vorstandsgehälter)

In [7]:
df.durchschnittsgehalt_2014.min(), df.durchschnittsgehalt_2014.max()

(87586.206896551725, 853658.53658536589)

**"Vorne liegen die Chefs der Hamburger Sparkasse, die durchschnittlich 853.000 Euro im Jahr bekamen"**

In [8]:
columns = ['sparkasse', 'durchschnittsgehalt_2014', 'gesamtbezuege_2014', 'anzahl_vorstaende_2014']

In [9]:
df[df.durchschnittsgehalt_2014 == df.durchschnittsgehalt_2014.max()][columns]

,sparkasse,durchschnittsgehalt_2014,gesamtbezuege_2014,anzahl_vorstaende_2014
287,Hamburger Sparkasse AG,853658.536585,4200000.0,4.92

**"Berliner Sparkasse zahlte ihren fünf Vorständen im Schnitt 651.833 Euro"**

In [10]:
df[df.sparkasse == 'Berliner Sparkasse'][columns]

,sparkasse,durchschnittsgehalt_2014,gesamtbezuege_2014,anzahl_vorstaende_2014
286,Berliner Sparkasse,651833.333333,3911000.0,6.0

**"und die Manager in Hannover wurden mit 613.661 Euro entlohnt."**

In [11]:
df[df.sparkasse == 'Sparkasse Hannover'][columns]

,sparkasse,durchschnittsgehalt_2014,gesamtbezuege_2014,anzahl_vorstaende_2014
278,Sparkasse Hannover,613661.202186,2246000.0,3.66

**"die Vorstände der [...] Sparkasse Günzburg-Krumbach [erhalten] durchschnittlich 296.500 Euro"**

In [12]:
df[df.sparkasse == 'Sparkasse Günzburg-Krumbach'][columns]

,sparkasse,durchschnittsgehalt_2014,gesamtbezuege_2014,anzahl_vorstaende_2014
108,Sparkasse Günzburg-Krumbach,296500.0,593000.0,2.0

**"Die beiden Vorstände der Kreissparkasse Saarpfalz in Homburg erhielten 2014 im Schnitt 305.000 Euro. Rund 440 Mitarbeiter werden dort beschäftigt."**

In [13]:
columns += ['mitarbeiter_2014']
df[df.sparkasse == 'Kreissparkasse Saarpfalz'][columns]

,sparkasse,durchschnittsgehalt_2014,gesamtbezuege_2014,anzahl_vorstaende_2014,mitarbeiter_2014
118,Kreissparkasse Saarpfalz,305000.0,610000.0,2.0,451.0

**"Nebenan, in der Landeshauptstadt, bei der Sparkasse Saarbrücken haben die vier Vorstände die dreifache Zahl an Mitarbeitern zu verantworten und erhalten dafür trotzdem nur fast das gleiche Geld. Im Schnitt bekamen sie 300.000 Euro überwiesen"**

In [14]:
df[df.sparkasse == 'Sparkasse Saarbrücken'][columns]

,sparkasse,durchschnittsgehalt_2014,gesamtbezuege_2014,anzahl_vorstaende_2014,mitarbeiter_2014
237,Sparkasse Saarbrücken,299500.0,1198000.0,4.0,1283.0

Verhältnis Mitarbeiter

In [15]:
451 / 1283

0.35151987529228373

**"Die vier Vorstände der Kasseler Sparkasse erhielten durchschnittlich 310.000 Euro. Sie verantworten rund 1.100 Mitarbeiter."**

In [16]:
df[df.sparkasse == 'Kasseler Sparkasse'][columns]

,sparkasse,durchschnittsgehalt_2014,gesamtbezuege_2014,anzahl_vorstaende_2014,mitarbeiter_2014
240,Kasseler Sparkasse,310000.0,1240000.0,4.0,1170.0

**"Rund 200km Kilometer südlich beschäftigt die Sparkasse Langen-Seligenstadt etwa 400 Mitarbeiter weniger. Dennoch werden die beiden Vorstände deutlich besser entlohnt und erhalten im Schnitt 100.000 Euro mehr als in Kassel, also 410.000 Euro."**

In [17]:
df[df.sparkasse == 'Sparkasse Langen-Seligenstadt'][columns]

,sparkasse,durchschnittsgehalt_2014,gesamtbezuege_2014,anzahl_vorstaende_2014,mitarbeiter_2014
170,Sparkasse Langen-Seligenstadt,408500.0,817000.0,2.0,740.0

Mitarbeiter-Differenz, Gehalts-Differenz

In [18]:
1170 - 740, 408500.0 - 310000.0

(430, 98500.0)

**"Die vier Vorstände der Sparkasse Münsterland Ost verantworteten im Jahr 2014 gut 1.400 Mitarbeiter und erhielten dafür durchschnittlich 556.000 Euro."**

In [19]:
df[df.sparkasse == 'Sparkasse Münsterland Ost'][columns]

,sparkasse,durchschnittsgehalt_2014,gesamtbezuege_2014,anzahl_vorstaende_2014,mitarbeiter_2014
277,Sparkasse Münsterland Ost,556000.0,2224000.0,4.0,1437.0

**"Die Chefs der Stadtsparkasse Düsseldorf bekamen im Schnitt 487.000 Euro, obwohl die Sparkasse der Landeshauptstadt zu den größten Sparkassen in Deutschland zählt. Der Vorstand in Düsseldorf verantwortete mehr als 2.000 Mitarbeiter, trotzdem wurden die Chefs in Münster deutlicher besser bezahlt."**

In [20]:
df[df.sparkasse == 'Stadtsparkasse Düsseldorf'][columns]

,sparkasse,durchschnittsgehalt_2014,gesamtbezuege_2014,anzahl_vorstaende_2014,mitarbeiter_2014
271,Stadtsparkasse Düsseldorf,487048.979592,1909232.0,3.92,2268.0

In [21]:
df.sort_values('bemessung_2014', ascending=False)[columns][:7]

,sparkasse,durchschnittsgehalt_2014,gesamtbezuege_2014,anzahl_vorstaende_2014,mitarbeiter_2014
283,Sparkasse KölnBonn,512760.000000,2563800.0,5.00,4536.000
285,Kreissparkasse Köln,704280.000000,3521400.0,5.00,4512.000
281,Stadtsparkasse München,490200.000000,2451000.0,5.00,2.742
278,Sparkasse Hannover,613661.202186,2246000.0,3.66,2255.000
270,Nassauische Sparkasse,461750.000000,1847000.0,4.00,1901.000
261,Ostsächsische Sparkasse Dresden,535333.333333,1606000.0,3.00,1799.000
271,Stadtsparkasse Düsseldorf,487048.979592,1909232.0,3.92,2268.000

**"Sparkasse Leverkusen: Drei Vorstände, die rund 600 Mitarbeiter im Jahr 2014 beschäftigten, erhielten im Schnitt fast 430.000 Euro."**

In [22]:
df[df.sparkasse == 'Sparkasse Leverkusen'][columns]

,sparkasse,durchschnittsgehalt_2014,gesamtbezuege_2014,anzahl_vorstaende_2014,mitarbeiter_2014
247,Sparkasse Leverkusen,428766.666667,1286300.0,3.0,619.0

**"Bei der Sparkasse Neuss waren doppelt so viele Mitarbeiter beschäftigt. Dennoch wurden auf der anderen Seite des Rheins an jeden der vier Vorstände rund 50.000 Euro weniger verteilt."**

In [23]:
df[df.sparkasse == 'Sparkasse Neuss'][columns]

,sparkasse,durchschnittsgehalt_2014,gesamtbezuege_2014,anzahl_vorstaende_2014,mitarbeiter_2014
256,Sparkasse Neuss,378950.0,1515800.0,4.0,1301.0

Mitarbeiter-Verhältnis, Gehalts-Differenz

In [24]:
1301.0 / 619.0, 428766 - 378950.0

(2.101777059773829, 49816.0)

**"Unsere Auswertung zeigt, dass die Gehälter von gleichgroßen Sparkassen in Bayern deutlich näher beieinanderliegen als in NRW. In Bayern verdienen die Vorstände im Schnitt auch weniger."**

In [25]:
df = df[(df.state == 'Nordrhein-Westfalen') | (df.state == 'Bayern')]

# weighted avg by 'bemessung' via groupby:
df['durchschnittsgehalt_wt_2014'] = df.durchschnittsgehalt_2014*df.bemessung_2014
df_states = df.groupby('state', as_index=False).sum()
df_states['durchschnittsgehalt_2014_wt'] = df_states.durchschnittsgehalt_wt_2014/df_states.bemessung_2014
df_states[['state', 'durchschnittsgehalt_2014_wt']]

                 state  durchschnittsgehalt_2014_wt
0               Bayern                353164.518278
1  Nordrhein-Westfalen                438641.106544